<div class="container">
  {{#each model as |restaurant|}}
  <div class="col-md-3">


    <p>{{restaurant.name}}
      {{favorite-restaurant}}
    <i class="fa fa-star-o fa-2x" {{action 'addFavorite' restaurant}}></i></p>
    {{#link-to 'restaurant' restaurant.id}}
    <img src={{restaurant.image}}>


{{/link-to}}

</div>

  {{/each}}
</div>
