<div class="container">
  {{#each model.restaurants as |restaurant|}}
  <div class="col-md-3 restaurant">
    {{#link-to 'restaurant' restaurant.id}}
    <div class="row">
<img src={{restaurant.image}}>
    </div>
    <div class="row view">
<h4>{{restaurant.name}}</h4>
<p>{{restaurant.type}}</p>

    </div>
    {{/link-to}}

    <button {{action 'addFavorite' restaurant}}>Add to Favorite</button>

</div>

  {{/each}}
</div>
